In [2]:
import pandas as pd

Cargar datos

In [3]:
# Importamos el dataset de los datos de los pokemon

df = pd.read_csv('dataset_final.csv')
df. head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
count = df["Name"].count()

print(f"Hay {count} pokemons en el dataset.")

Hay 800 pokemons en el dataset.

In [5]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
count_poison = df[df["Type 1"] == "Poison"]["Name"].count()
print(f"Hay {count_poison} pokemons de tipo poison.")

Hay 28 pokemons de tipo poison.

In [6]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
unique_type_1 = len(df['Type 1'].unique())

print(f"Hay {unique_type_1} tipos de pokemon (tipo 1).")

Hay 18 tipos de pokemon (tipo 1).

In [7]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''

'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''

poke_type_1 = df.groupby('Type 1')['Name'].count().sort_values(ascending=False)
print("En la tabla de abajo se pueden ver los pokemons agregados por tipo. El primero es el tipo con más pokemon, el tipo agua. \n")
print(poke_type_1)

En la tabla de abajo se pueden ver los pokemons agregados por tipo. El primero es el tipo con más pokemon, el tipo agua.

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64

In [8]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
fastest_poke = df[["Name", "Speed"]].sort_values("Speed", ascending=False)["Name"].iloc[0]
print(f"El pokemon más rápido es {fastest_poke}.")

El pokemon más rápido es DeoxysSpeed Forme.

In [9]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''

def_over_100 = df[df["Defense"] > 100]["Name"].count()

print(f"{def_over_100} pokemons tienen una defensa superior a 100.")

'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''
print("Es la misma pregunta jeje")

123 pokemons tienen una defensa superior a 100.
Es la misma pregunta jeje

In [10]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
def_100 = df['Defense'] > 100
speed_100 = df['Speed'] > 100
fast_def = df[def_100 & speed_100]['Name'].count()

print(f"Hay {fast_def} pokemons con una defensa y velocidad por encima de 100.")

Hay 9 pokemons con una defensa y velocidad por encima de 100.

In [11]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''

df.sort_values(['Type 1', 'Type 2'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [12]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
water_fire_df = df[df['Type 1'].isin(['Water', 'Fire'])] 
water_fire_df.reset_index(drop=True, inplace=True)
water_fire_df["Name"].count()

164

In [14]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
legendary_df = df[df['Legendary'] == True]

In [23]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
legendary_stats = df.groupby(by='Legendary')['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'].mean()

legendary_stats

/var/folders/_5/8rzrsj1n0kn5_byf22n7b9sm0000gp/T/ipykernel_20494/3541941010.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  legendary_stats = df.groupby(by='Legendary')['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'].mean()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Legendary,,,,,,
False,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782
True,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615

In [22]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''

legendary_stats = df.groupby(by='Legendary')['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'].mean()
legendary_stats

/var/folders/_5/8rzrsj1n0kn5_byf22n7b9sm0000gp/T/ipykernel_20494/2665653075.py:11: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  legendary_stats = df.groupby(by='Legendary')['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'].mean()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Legendary,,,,,,
False,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782
True,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615

In [33]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''

df['Doble tipo'] = 'False'
df.loc[df['Type 1'].notnull() & df['Type 2'].notnull(), 'Doble tipo'] = True

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,True

In [55]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
new_df = df.loc[df['Type 1'].notnull() & df['Type 2'].notnull(), ['Name', 'Type 1', 'Type 2']]
new_df.sort_values(['Type 1', 'Type 2', 'Name'])

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [2]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']

# A. Una función que calcule el precio total de la compra

def total_shop(articulos, compra):
    items_bought = map(lambda x: articulos[x], compra)
    return reduce(lambda x, y: x + y, items_bought, 0)

print(f"La compra total asciende a {total_shop(articulos, compra)}.")

# B. Una función que calcule el precio total de la compra con un descuento del 10%

def discount(articulos, compra):
    return total_shop(articulos, compra) * 0.9

print(f"La compra con descuento es {discount(articulos, compra)}.")

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

def discount_if(articulos, compra):
    if total_shop(articulos, compra) > 100:
        return discount(articulos, compra)

print(f"La compra con descuento condicional es {discount_if(articulos, compra)}. Si el resultado es 139.5 es correcto, ya que la compra asciende a más de 100€")


# D. Una función que calcule el precio total aplicando el IVA (21%)

def add_iva(articulos, compra):
    return round(total_shop(articulos, compra) * 1.21, 2)

print(f"La compra con iva asciende de {total_shop(articulos, compra)} a {add_iva(articulos, compra)}")

# E.lista los artículos cuyo precio es superior a 20€

def items_over_20(articulos):
    return list(filter(lambda x: articulos[x] > 20, articulos))

print(f"Los artículos mayores de 20 euros son: {items_over_20(articulos)}.")

La compra total asciende a 155.
La compra con descuento es 139.5.
La compra con descuento condicional es 139.5. Si el resultado es 139.5 es correcto, ya que la compra asciende a más de 100€
La compra con iva asciende de 155 a 187.55
Los artículos mayores de 20 euros son: ['Pantalón', 'Zapatos', 'Gafas', 'Reloj', 'Corbata'].

In [3]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

def get_student_info(details):
    info = [details[0], details[1]]
    average = reduce(lambda x, y: x + y, details[3]) / len(details[3])
    info.append(average)
    return info

def get_students(lista, curso):
    lista_filtrada = filter(lambda x: int(x[2]) == curso, lista)
    return list(map(get_student_info, lista_filtrada))
    
print(f"Aquí la lista de alumnos de 1er curso: {get_students(alumnos, 1)}")

Aquí la lista de alumnos de 1er curso: [['Juan', 'Pérez', 7.0], ['Luis', 'González', 7.0], ['Pedro', 'Rodríguez', 7.0], ['Marta', 'López', 7.0], ['Javier', 'Sánchez', 7.0], ['Sergio', 'Jiménez', 7.0], ['Pablo', 'Álvarez', 7.0]]